<!DOCTYPE html>
<html>
  <head>
    <title>ChallengeDrawApp</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Aldrich" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer>Created with ❤️ by Kelly Sample<br><a id='github' href='https://github.com/KellyStamps/challenge-draw-app'>GitHub</a></footer>
  </body>
</html>
